#content {
    margin-top: 140px;          
    margin-left: 260px;         
    padding: 10px 20px 0px 20px;
    width: calc(100% - 280px);  
    box-sizing: border-box;     
    position: fixed;            
    overflow-x: hidden;         
    height: calc(100% - 140px);
    transition: margin-top 0.5s ease;
}
