#content {
    position: absolute;
    left: 260px;
    top: 140px;
    padding: 10px 20px 0px 20px;
    width: calc(100% - 280px);
    height: calc(100% - 140px);
    box-sizing: border-box;     
    overflow-x: hidden;         
    height: calc(100% - 140px);
    transition: top 0.5s ease;
}

#log-text-debug {
    white-space: pre-wrap;
    overflow: auto;
    width: 100%;
    display: none;     /* hide defaultly */
}