html {
    font-size: 4px;
}

body {
    font-size: 1rem;
}
body h1 {
    font-size: 6rem;
}
body h2 {
    font-size: 5rem;
}

/* Containers */
.container-alpha {
    width: 90%;
    height: 40vh;
    min-width: 500px;
    min-height: 200px;
    overflow: auto;
    border: 1px solid #ccc;
}

#vine-tooltip {
    position: absolute;
    visibility: hidden;
    padding: 10px;
    white-space: nowrap;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 3rem;
    color: #333;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    pointer-events: none;
}

/* Execution Details svg */
#execution-details {
    width: 100%;
    height: 100%;
}

/* Button */
.report-button {
    padding: 8px 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    font-size: 3rem;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    font-weight: normal;
}
.report-button:hover {
    background-color: #e6e6e6;
}
.report-button-active {
    background: linear-gradient(to right, #cccccc, #d4d4d4);
}

/* Tool Box*/
.report-toolbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
}

/* Input Box */
.input-label {
    margin-right: 10px;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
}
.report-input-box {
    width: 10%;
    padding: 8px 16px;
    font-size: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* General Statistics */
.table-container {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: auto;
    width: 90vw;
    max-height: 40vh;
    overflow: auto;
    white-space: nowrap;
    font-size: 4rem;
}
.table-container th,
.table-container td {
    padding: 7px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

/* Violin and Average Core Load Plota */

.violinCoreContainer {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 75vw;
    height: calc(80vw * 0.4);
    overflow: hidden;
    border: 1px solid grey;
}

.violinCoreLeftContainer {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0; 
    flex-basis: 50%;
    height: 100%; 
    position: relative; 
    max-height: 100%;
}

.violinCoreRightContainer {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0; 
    flex-basis: 50%;
    height: 100%; 
    position: relative; 
    max-height: 100%;
}


.violinCoreLeftSummaryContainer {
    position: absolute; 
    top: 10%; 
    left: 0; 
    right: 0; 
    bottom: 0;
    display: flex;
    overflow-x: hidden; 
    overflow-y: hidden; 
    align-items: center;
}


#allWorkersSummaryViolinImg {
    width: 100%; 
    height: auto;
}

#overallAvgCoreLoadImg {
    width: 100%; 
    height: auto;
}

.violinCoreRightButton {
    position: absolute;
    top: 0;
    height: 10%;
    left: 0;
    right: 0;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 5px;
    padding: 0px 10px;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}

.violinCoreRightDetailsByWorkerContainer {
    position: absolute; 
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0; 
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; 
    align-items: center;
    gap: 10px;
    padding: 10px;
}


.workerViolin {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.workerAvgCoreLoad {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

#buttons {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    gap: 5px; 
    padding: 0px 10px 0px 10px; 
    -ms-overflow-style: none; 
    scrollbar-width: thin; 
    scrollbar-color: #888 #f0f0f0; 
}

#buttons::-webkit-scrollbar {
    height: 2px; 
}

#buttons::-webkit-scrollbar-track {
    background: #f0f0f0; 
}

#buttons::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px; 
}

#buttons::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.workerCheckbox + label {
    display: inline-flex; 
    align-items: center; 
    margin-right: 10px; 
    white-space: nowrap; 
}


.container {
    display: flex;
}


.item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

@keyframes text-highlight-animation {
    from {
        background-color: grey;
    }
    to {
        background-color: transparent;
    }
}

.text-highlight {
    animation: text-highlight-animation 2s forwards;
}


svg * {
    user-select: text;
    pointer-events: auto;
}
