/* styles.css */

/* text */
.text-div {
    width: 75vw;
    padding: 10px; /* 内边距20像素 */
    border: 1px solid #cccccc; /* 边框 */
    margin-top: 20px; /* 上边距 */
    font-size: 16px; /* 字体大小 */
    color: #333333; /* 字体颜色 */
    text-align: left; /* 文本居中显示 */
}

/* Histogram */
.histogram {
    width: 950%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

/* worker configs table */
#workerConfigsContainer {
    width: 75vw;
    height: calc(80vw * 0.6);
    overflow: scroll;
    border: 1px solid grey;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #cacccf;
    position: sticky;
    top: 0; /* 使表头固定在容器顶部 */
    z-index: 3; /* 确保表头覆盖在滚动内容上 */
    border-bottom: 2px solid #000; /* 加粗的表头底部边框 */
}
th, td {
    border: 1px solid black;
    padding: 4px;
    text-align: left;
}

/* 固定第一列的样式 */
th:first-child {
    position: sticky;
    left: 0;
    z-index: 5; /* 确保第一列在垂直滚动时不会被其他列覆盖，但低于表头的z-index */
    background-color: #cacccf; /* 为了可视化效果，可能需要设置背景色 */
}
td:first-child {
    position: sticky;
    left: 0;
    z-index: 4; /* 确保第一列在垂直滚动时不会被其他列覆盖 */
    background-color: #cacccf; /* 为了可视化效果，可能需要设置背景色 */
}

/* Bar Charts */
.itemContainer {
    width: 75vw;
    height: calc(80vw * 0.6);
    border: 1px solid grey;
    overflow: auto;
}

#barchart {
    width: 95%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

svg * {
    user-select: text;
    pointer-events: auto;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    padding: 8px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    pointer-events: none;
    z-index: 10;
}


/* Violin Plots */

#violinContainer {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: stretch; /* 确保子元素填满容器的整个高度 */
    flex-wrap: nowrap;
    width: 75vw;
    height: calc(80vw * 0.4);
    overflow: hidden;
    border: 1px solid grey;
}

#violinLeftContainer {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0; /* 防止容器在空间不足时缩小 */
    flex-basis: 50%;
    height: 100%; /* 子容器填满父容器的高度 */
    position: relative; /* 允许子元素相对于此定位 */
    max-height: 100%;
}

#violinRightContainer {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0; /* 防止容器在空间不足时缩小 */
    flex-basis: 50%;
    height: 100%; /* 子容器填满父容器的高度 */
    position: relative; /* 允许子元素相对于此定位 */
    max-height: 100%;
}


#violinLeftSummaryContainer {
    position: absolute; /* 使用绝对定位 */
    top: 10%; /* 从父容器顶部向下偏移10% */
    left: 0; /* 从父容器左侧开始 */
    right: 0; /* 延伸到父容器的右侧 */
    bottom: 0; /* 延伸到父容器的底部 */
    display: flex;
    overflow-x: hidden; /* 关闭x方向上的滚动条 */
    overflow-y: hidden; /* 关闭y方向上的滚动条 */
    align-items: center;
}


#violinLeftSummaryContainer img {
    max-width: 100%;
    height: auto;
}

#violinRightButton {
    position: absolute; /* 相对于父容器定位 */
    top: 0; /* 从父容器顶部开始 */
    height: 10%; /* 占据父容器高度的10% */
    left: 0; /* 从父容器左侧开始 */
    right: 0; /* 伸展至父容器右侧，确保横向占满 */
    display: flex;
    overflow-x: auto; /* 允许在X轴方向滚动 */
    white-space: nowrap; /* 防止元素换行，确保横向排列 */
    gap: 5px; /* 按钮之间的间隔 */
    padding: 0px 10px; /* 顺序是：上 右 下 左 */
    -ms-overflow-style: none; /* IE和Edge的滚动条隐藏 */
    scrollbar-width: thin; /* Firefox的滚动条样式调整 */
    scrollbar-color: #888 #f0f0f0; /* Firefox的滚动条颜色调整 */
}

#violinRightDetailsByWorkerContainer {
    position: absolute; /* 使用绝对定位 */
    top: 10%; /* 从父容器顶部向下偏移20% */
    left: 0; /* 从父容器左侧开始 */
    right: 0; /* 延伸到父容器的右侧 */
    bottom: 0; /* 延伸到父容器的底部 */
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; /* 隐藏Y轴滚动条 */
    align-items: center;
    gap: 10px;
    padding: 10px;
}


.workerViolin {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

#buttons {
    display: flex;
    overflow-x: auto; /* 允许在X轴方向滚动 */
    white-space: nowrap; /* 防止元素换行，确保横向排列 */
    gap: 5px; /* 按钮之间的间隔 */
    padding: 0px 10px 0px 10px; /* 顺序是：上 右 下 左 */
    -ms-overflow-style: none; /* IE和Edge的滚动条隐藏 */
    scrollbar-width: thin; /* Firefox的滚动条样式调整 */
    scrollbar-color: #888 #f0f0f0; /* Firefox的滚动条颜色调整 */
}

#buttons::-webkit-scrollbar {
    height: 2px; /* 调整滚动条高度 */
}

#buttons::-webkit-scrollbar-track {
    background: #f0f0f0; /* 滚动条轨道颜色 */
}

#buttons::-webkit-scrollbar-thumb {
    background: #888; /* 滚动条颜色 */
    border-radius: 4px; /* 滚动条圆角 */
}

#buttons::-webkit-scrollbar-thumb:hover {
    background: #555; /* 滚动条hover时的颜色 */
}

.workerCheckbox + label {
    display: inline-flex; /* 使用inline-flex代替inline-block以提供更灵活的布局选项 */
    align-items: center; /* 垂直居中复选框和标签 */
    margin-right: 10px; /* 在复选框和标签之间添加间隔 */
    white-space: nowrap; /* 防止标签内文本换行 */
}






/* 容器样式 */
.container {
    display: flex;
}

.sidebar {
    width: 10%;
    background-color: #f0f0f0;
    overflow: hidden;
    position: fixed;  /* 添加这行使 .sidebar 固定位置 */
    top: 0;           /* 从页面顶部开始固定 */
    left: 0;          /* 从页面左侧开始固定 */
    height: 100%;     /* 让侧边栏高度充满整个视口高度 */
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

/* 内容区域样式 */
.selectorContainer {
    width: 80%;
    padding: 10px;
    margin-left: 10%;
}

.content {
    width: 80%;
    padding: 10px;
    margin-left: 10%;
}

.item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

@keyframes text-highlight-animation {
    from {
        background-color: grey;
    }
    to {
        background-color: transparent;
    }
}

.text-highlight {
    animation: text-highlight-animation 2s forwards;
}



/* Vine Graphs */
#vineGraphsContainer {
    width: 75vw;
    height: auto;
    border: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 元素之间的间隙 */
}

.vineGraphContainer {
    width: calc(50% - 10px); /* 减去gap一半的宽度 */
    box-sizing: border-box;
    padding: 10px; /* 元素的内边距 */
}

.vineGraphContainer img {
    max-width: 100%; /* 限制图片最大宽度不超过容器宽度 */
    height: auto; /* 高度自动调整以保持图片的原始比例 */
    display: block; /* 防止图片底部出现额外空间 */
}


