.worker-info-table-container {
    width: 95%;
    overflow-x: auto;
    position: relative;
}

#worker-info-table {
    color: #fff;
    border-radius: 0.25em;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

/* Set thicker and slightly transparent bottom border for the first row */
#worker-info-table tr:first-child {
    border-bottom: 2px solid #dddddd;
    font-size: 16px;
}
/* Set thinner and more transparent bottom border for other rows */
#worker-info-table tr:not(:first-child) {
    border-bottom: 1px solid #dddddd;
    font-size: 15px;
}

#worker-info-table th,
#worker-info-table td {
    text-align: left;
    color: black;
    padding: 0.5em;
    white-space: nowrap;
}

