<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>d3.js vine</title>
    <!-- import d3.js -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- import jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>    
    <!-- import datatables -->
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.1/js/dataTables.fixedColumns.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/5.0.1/css/fixedColumns.bootstrap.css">

    <!-- parse csv files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- import css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
    <!-- import js files-->
    <script src="{{ url_for('static', filename='js/report.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/draw_tables.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/manager.js') }}" type="module"></script>
</head>

<body>
    <div id="vine-tooltip" class="tooltip"></div>

    <h2 id="manager-summary-title">Manager Summary</h2>
    <div id="manager-preface" class="preface">
       <p>The time span of this report begins when the manager starts and ends when the manager ends. 
        If the manager was connected at Unix timestamp 1720370750.935014, we set this as 0, any other 
        timestamps should be subtracted by this value. For example, if a task starts at 
        1720371091.890853 and ends at 1720371102.900173, the start and end times will be 340.95 and 351.96, respectively.
       </p>
    </div>

    <div id="manager-info-container">
        <div id="manager-description-container">
            <table id="manager-description-table">
                <tbody>
                    <tr>
                        <th>Start time</th>
                        <td id="start-time"></td>
                    </tr>
                    <tr>
                        <th>End time</th>
                        <td id="end-time"></td>
                    </tr>
                    <tr>
                        <th>Life time</th>
                        <td id="lift-time"></td>
                    </tr>
                    <tr>
                        <th>Tasks Submitted</th>
                        <td id="tasks-submitted"></td>
                    </tr>
                    <tr>
                        <th>Tasks Done</th>
                        <td id="tasks-done"></td>
                    </tr>
                    <tr>
                        <th>Tasks Waiting</th>
                        <td id="tasks-waiting"></td>
                    </tr>
                    <tr>
                        <th>Tasks Failed</th>
                        <td id="tasks-failed"></td>
                    </tr>
                    <tr>
                        <th>Workers Connected</th>
                        <td id="workers-connected"></td>
                    </tr>
                    <tr>
                        <th>Workers Active</th>
                        <td id="workers-active"></td>
                    </tr>
                    <tr>
                        <th>Maximum Parrellel Workers</th>
                        <td id="max-concurrent-workers"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="factory-description-container">
        </div>
    </div>


    <h2 id="tasks-completed-title">Tasks Completed</h2>
    <div class="report-toolbox">
        <button id="button-tasks-completed-reset-table" class="report-button">Reset</button>
        <button id="button-tasks-completed-convert-timestamp" class="report-button">Convert Timestamp</button>
        <input type="text" id="input-tasks-completed-task-id" class="report-input-box" placeholder="Search by ID">
        <button id="button-tasks-completed-search-by-id" class="report-button">Search</button>
        <input type="text" id="input-tasks-completed-category" class="report-input-box" placeholder="Search by Category">
        <button id="button-tasks-completed-search-by-category" class="report-button">Search</button>
        <input type="text" id="input-tasks-completed-filename" class="report-input-box" placeholder="Search by Filename">
        <button id="button-tasks-completed-search-by-filename" class="report-button">Search</button>
    </div>
    <div class="table-container">
        <table id="tasks-completed-table" class="display">
            <thead>
                <tr>
                    <th>task id</th>
                    <th>try id</th>
                    <th>worker id</th>
                    <th>when ready</th>
                    <th>when running</th>
                    <th>when start on worker</th>
                    <th>when end on worker</th>
                    <th>when waiting retrieval</th>
                    <th>when retrieved</th>
                    <th>when done</th>
                    <th>category</th>
                    <th>size of input (MB)</th>
                    <th>size of output (MB)</th>
                    <th>input files</th>
                    <th>output files</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <h2 id="tasks-failed-title">Tasks Failed</h2>
    <div class="report-toolbox">
        <button id="button-tasks-failed-reset-table" class="report-button">Reset</button>
        <button id="button-tasks-failed-convert-timestamp" class="report-button">Convert Timestamp</button>
        <input type="text" id="input-tasks-failed-task-id" class="report-input-box" placeholder="Search by ID">
        <button id="button-tasks-failed-search-by-id" class="report-button">Search</button>
        <input type="text" id="input-tasks-failed-category" class="report-input-box" placeholder="Search by Category">
        <button id="button-tasks-failed-search-by-category" class="report-button">Search</button>
        <input type="text" id="input-tasks-failed-worker-id" class="report-input-box" placeholder="Search by Worker">
        <button id="button-tasks-failed-search-by-worker-id" class="report-button">Search</button>
    </div>
    <div class="table-container">
        <table id="tasks-failed-table" class="display">
            <thead>
                <tr>
                    <th>task id</th>
                    <th>try id</th>
                    <th>worker id</th>
                    <th>when ready</th>
                    <th>when running</th>
                    <th>when next ready</th>
                    <th>category</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <div style="display: flex; align-items: center;">
        <h2 id="tasks-execution-details-title">Tasks Execution Details</h2>
        <div id="execution-details-tip" class="header-tip">This manager exited unexpectedly, choose the last appeared timestamp as the manager end time.</div>
    </div>
    <div id="task-execution-details-preface" class="preface">
        <p>This plot shows the task distribution across all workers. Each rectangle represents 
            the duration of a task on a specific worker's core. Every task starts from when it was
            actually started (after when the manager set it to RUNNING status) and 
            actually ends (before when the manager set it to WAITING_RETRIEVAL status) on a worker.
        </p>
    </div>
    <div class="report-toolbox">
        <button id="button-download-task-execution-details" class="report-button">Download SVG</button>
    </div>

    <table id="task-execution-details-legend-table">
        <tr>
            <th id="legend-regular-tasks"></th>
            <td>Regular task that are submitted by the user and successfully run to completion.</td>
        </tr>
        <tr>
            <th id="legend-failed-tasks"></th>
            <td>Failed task on a special worker, which usually means the failure of a worker.</td>
        </tr>
        <tr>
            <th id="legend-recovery-tasks"></th>
            <td>Recovery task to re-create the lost temperory files.</td>
        </tr>
        <tr>
            <th id="legend-workers"></th>
            <td>Worker lifetime starting at when it was connected and ending at when it was disconnected.</td>
        </tr>
    </table>
    <div id="execution-details-container" class="container-alpha" >
        <svg id="execution-details" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
    

    <h2 id="worker-summary-title">Worker Summary</h2>
    <div class="table-container">
        <table id="worker-table" class="display">
            <thead>
                <tr>
                    <th>id</th>
                    <th>hash</th>
                    <th>machine</th>
                    <th>ip</th>
                    <th>port</th>
                    <th>when connected</th>
                    <th>when disconnected</th>
                    <th>lifetime(s)</th>
                    <th>cores</th>
                    <th>memory (MB)</th>
                    <th>disk (MB)</th>
                    <th>tasks done</th>
                    <th>tasks average runtime</th>
                    <th>peak disk usage (MB)</th>
                    <th>peak disk usage (%)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <h2 id="worker-connections-title">Worker Connections</h2>
    <div id="manager-preface" class="preface">
        <p>This plot shows the number of parallel running workers during the manager's lifetime.
        </p>
     </div>
     <div class="report-toolbox">
        <button id="button-download-worker-connections" class="report-button">Download SVG</button>
    </div>
    <div id="worker-connections-container" class="container-alpha">
        <svg id="worker-connections" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

    <h2 id="worker-disk-usage-title">Worker Disk Usage</h2>
    <div id="worker-disk-usage-preface" class="preface">
        <p>This plot shows the disk usage (MB) of each worker during the manager's lifetime from the point of the manager's view.
            The disk increase can be caused by any cache-update events or put events. The disk decrease can be caused by any unlink events.
            Click the <b>Accumulation</b> button to see the disk increase events only.
        </p>
    </div>
    <div class="report-toolbox">
        <button id="button-display-worker-disk-usage-by-percentage" class="report-button">Percentages</button>
        <button id="button-display-accumulated-only" class="report-button">Accumulation</button>
        <input type="text" id="input-highlight-worker-disk-usage" class="report-input-box" placeholder="Enter Worker ID">
        <button id="button-highlight-worker-disk-usage" class="report-button">Analyze Worker</button>
        <button id="button-download-worker-disk-usage" class="report-button">Download SVG</button>
    </div>
    <div id="worker-disk-usage-container" class="container-alpha" >
        <svg id="worker-disk-usage" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>
    
    <h2 id="dag-summary-title" >DAG Summary</h2>
    <div class="table-container">
        <table id="dag-table" class="display">
            <thead>
                <tr>
                    <th>id</th>
                    <th>number of tasks</th>
                    <th>time of completion</th>
                    <th>number of critical tasks</th>
                    <th>critical tasks</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div style="display: flex; align-items: center;">
        <h2 id="dag-components-title" >DAG Components</h2>
        <div id="dag-components-tip" class="header-tip">No Graph Data found for this execution.</div>
    </div>
    <div class="preface">
        <p style="margin: 0px;">
            A component is a subgraph of this workflow with the following properties:
            <ul style="margin: 0px;">
                <li><b>Node</b>: Represents a task, either regular task or recovery task.</li>
                <li><b>Edge (file -> task)</b>: The durantion from when this file is produced by the previous task to when it is consumed by this task.</li>
                <li><b>Edge (task -> file)</b>: The durantion from when this this task starts to run to when it is finished on a worker.</li>
                <li><b>Critical Path:</b> The longest sequence of tasks and waiting times determining the project's total duration. Optimazation may exist here.</li>
                <li><b>Critical Input File:</b> One of the input files that took the shortest time to wait for. Optimation may exist here.</li>
            </ul>
        </p>
    </div> 
    <div class="report-toolbox">
        <div class="report-label-container">
            <p>Select a DAG ID: </p>
        </div>
        <select id="dag-id-selector" class="report-selector"></select>
        <button id="button-highlight-critical-path" class="report-button">Highlight Critical Path</button>
        <input type="text" id="input-task-id-in-dag" class="report-input-box" placeholder="Enter Task ID">
        <button id="button-analyze-task-in-dag" class="report-button">Analyze Task</button>
        <button id="button-download-dag" class="report-button">Download SVG</button>
    </div>
    
    <div id="critical-path-info"></div>

    <div id="analyze-task">
        <p><b>task information</b></p>
        <div id="analyze-task-display-details"></div>
        <p><b>input files information</b></p>
        <div id="analyze-task-display-input-files" class="table-container">
            <table id="task-input-files-table" class="display">
                <thead>
                    <tr>
                        <th>filename</th>
                        <th>size (MB)</th>
                        <th>waiting time from creation</th>
                        <th>waiting time from recovery</th>
                        <th>producers</th>
                        <th>consumers</th>
                        <th>workers held (worker_id, time_stage_in, time_stage_out, lifetime)</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="dag-components-container" class="container-alpha">
        <div id="dag-components"></div>
    </div>

    <h2 id="file-summary-title">File Summary</h2>
    <div class="table-container">
        <table id="file-table" class="display">
            <thead>
                <tr>
                    <th>filename</th>
                    <th>size (MB)</th>
                    <th>producers</th>
                    <th>consumers</th>
                    <th>num workers held</th>
                    <th>workers held</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>



    </body>
</html>