<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>d3.js vine</title>
    <!-- import d3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- parse csv files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- import css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
    <!-- import js files-->
    <script src="{{ url_for('static', filename='js/report.js') }}" type="module"></script>
</head>

<body>

    <h1 id="worker-information-title" >Worker Information</h1>
    <div class="worker-info-table-container" >
        <table id="worker-info-table">
            <tr>
                <th>Worker ID</th>
                <th>Cores</th>
                <th>Memory</th>
                <th>Disk</th>
                <th>GPUs</th>
                <th>Connected Time</th>
                <th>Disconnected Time</th>
                <th>Lifetime</th>
                <th>Task Count</th>
                <th>Library Installed</th>
                <th>Library Count</th>
                <th>Min Runtime</th>
                <th>Max Runtime</th>
                <th>Avg Runtime</th>
                <th>IP Address</th>
                <th>Port</th>
                <th>Hash Name</th>
            </tr>
        </table>
        <div id="worker-info-scrollbar-container">
            <div id="worker-info-virtual-scrollbar"></div>
        </div>
    </div>

    <div id="vine-tooltip" class="tooltip"></div>

    <h1 id="execution-details-title" >Execution Details</h1>
    <div id="execution-details-container" class="container-1" >
        <svg id="execution-details" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

    <h1 id="worker-accumulated-cached-files-title" >Accumulated Files on Each Worker</h1>
    <select id="worker-accumulated-cached-files-display-mode">
        <option value="diskUsage">sort by disk usage (MB)</option>
        <option value="diskUtilization">sort by disk utilization (%)</option>
    </select>
    <div id="worker-accumulated-cached-files-container" class="container-1" >
        <svg id="worker-accumulated-cached-files" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

    <h1 id="execution-summary-title" >Execution Summary</h1>
    <div id="histogramContainer" class="container-1" >
        <select id="histogramSelector">
            <option value="mode0">default</option>
            <option value="mode1">sort by average execution time</option>
            <option value="mode2">sort by tasks completion</option>
        </select>
        <svg id="histogram" xmlns="http://www.w3.org/2000/svg">
            <!-- histogram goes here -->
        </svg>
    </div>

    <h1 id="cpu-usage-distribution-title">CPU Usage Distribution</h1>
    <div id="avgCoreLoadContainer" class="violinCoreContainer" >
        <div id="avgCoreLoadLeftContainer" class="violinCoreLeftContainer">
            <div id="avgCoreLoadLeftSummaryContainer" class="violinCoreLeftSummaryContainer">
                <!-- avg core load plot goes here -->
                <img id="overallAvgCoreLoadImg"  alt="Average Core Load"></img>
            </div>
        </div>
        <div id="avgCoreLoadRightContainer" class="violinCoreRightContainer">
            <div id="avgCoreLoadRightButton" class="violinCoreRightButton"></div>
            <div id="avgCoreLoadRightDetailsByWorkerContainer" class="violinCoreRightDetailsByWorkerContainer">
                <!-- avg core loads by worker go here -->
            </div>
        </div>
    </div>

    <h1 id="runtime-distribution-title" >Runtime Distribution</h1>
    <div id="violinContainer" class="violinCoreContainer" >
        <div id="violinLeftContainer" class="violinCoreLeftContainer">
            <div id="violinLeftSummaryContainer" class="violinCoreLeftSummaryContainer">
                <!-- violin plot goes here -->
                <img id="allWorkersSummaryViolinImg"  alt="All Workers Summary"></img>
            </div>
        </div>
        <div id="violinRightContainer" class="violinCoreRightContainer">
            <div id="violinRightButton" class="violinCoreRightButton"></div>
            <div id="violinRightDetailsByWorkerContainer" class="violinCoreRightDetailsByWorkerContainer">
                <!-- workers violin plots go here -->
            </div>
        </div>
    </div>

    <h1 id="vine-graphs-title" >Vine Graphs</h1>
    <div id="vineGraphsContainer" >
        <div class="vineGraphContainer"><img id="performanceTransferImg" alt="Transfer"></div>
        <div class="vineGraphContainer"><img id="performanceTaskImg" alt="Tasks"></div>
        <div class="vineGraphContainer"><img id="performanceWorkersImg" alt="Workers"></div>
        <div class="vineGraphContainer"><img id="performanceTasksAccumImg" alt="Tasks Accumulate"></div>
        <div class="vineGraphContainer"><img id="performanceWorkersAccumImg" alt="Workers Accumulate"></div>
        <div class="vineGraphContainer"><img id="performanceTasksCapacitiesImg" alt="Tasks Capabilities"></div>
        <div class="vineGraphContainer"><img id="performanceTimeManagerImg" alt="Time Manager"></div>
        <div class="vineGraphContainer"><img id="performanceTimeWorkersImg" alt="Time Workers"></div>
        <div class="vineGraphContainer"><img id="performanceTimesStackedImg" alt="Time Stacked"></div>
        <div class="vineGraphContainer"><img id="performanceWorkersDiskImg" alt="Workers Disk"></div>
    </div>

    </body>
</html>