<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>d3.js vine</title>
    <!-- import d3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- graphviz -->

    <!-- dagre -->
    <script src="https://dagrejs.github.io/project/dagre-d3/latest/dagre-d3.js"></script>
    <script src="https://dagrejs.github.io/project/dagre-d3/latest/dagre-d3.min.js"></script>
    <!-- parse csv files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- import css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
    <!-- import js files-->
    <script src="{{ url_for('static', filename='js/report.js') }}" type="module"></script>
</head>

<body>
    <h1 id="general-statistics-title" >General Statistics</h1>
    <h2>Manager</h2>
    <div id="general-statistics-container" class="table-container">
        <table id="general-statistics-manager-table">
            <thead>
                <tr>
                    <th>when connected</th>
                    <th>when disconnected</th>
                    <th>lifetime (s)</th>
                    <th>tasks submitted</th>
                    <th>tasks done</th>
                    <th>tasks failed on manager</th>
                    <th>tasks failed on worker</th>
                    <th>max task try count</th>
                    <th>workers connected</th>
                    <th>active workers</th>
                    <th>max concurrent workers</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <h2>Task</h2>
    <div id="general-statistics-container" class="table-container">
        <table id="general-statistics-task-table">
            <thead>
                <tr>
                    <th>category</th>
                    <th>submitted</th>
                    <th>ready</th>
                    <th>running</th>
                    <th>waiting_retrieval</th>
                    <th>retrieved</th>
                    <th>done</th>
                    <th>workers</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <h2>Worker</h2>
    <div id="general-statistics-container" class="table-container">
        <table id="general-statistics-worker-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>hash</th>
                    <th>machine</th>
                    <th>ip</th>
                    <th>port</th>
                    <th>when connected</th>
                    <th>when disconnected</th>
                    <th>lifetime(s)</th>
                    <th>cores</th>
                    <th>memory (MB)</th>
                    <th>disk (MB)</th>
                    <th>tasks done</th>
                    <th>tasks average runtime</th>
                    <th>peak disk usage (MB)</th>
                    <th>peak disk usage (%)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <div id="vine-tooltip" class="tooltip"></div>

    <h1 id="execution-details-title" >Execution Details</h1>
    <div id="execution-details-container" class="container-alpha" >
        <svg id="execution-details" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

    <h1 id="dag-components-title" >DAG Components</h1>
    <div class="text-description">
        <p>
            A component is a subgraph of this workflow with the following properties:
            <ul>
                <li><b>Node</b>: Represents a regular task, the default duration starts from when it's ready and ends when it's done.</li>
                <li><b>Edge</b>: Represents the waiting time between two dependent tasks, the parent happens before the children.</li>
                <li><b>Critical Path:</b> The longest sequence of tasks (<b>critical tasks</b>) and waiting times (<b>critical edges</b>) determining the project's total duration. Optimazation may exist here.</li>
            </ul>
        </p>
    </div> 
    <div id="general-statistics-container" class="table-container">
        <table id="general-statistics-dag-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>number of tasks</th>
                    <th>number of critical tasks</th>
                    <th>critical tasks</th>
                    <th>time of critical tasks</th>
                    <th>time of critical edges</th>
                    <th>time of critical path</th>
                    <th>tasks</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="report-toolbox">
        <div class="report-label-container">
            <p>Select a DAG ID: </p>
        </div>
        <select id="dag-id-selector" class="report-selector"></select>

        <input type="text" id="input-id" class="report-input-box" placeholder="Enter Task ID">
        <button class="report-button">Query Task</button>
    </div>
    <div id="dag-components-container" class="container-alpha">
        <div id="dag-components"></div>
    </div>

    <h1 id="per-worker-disk-usage-title">Worker Disk Usage</h1>
    <div id="general-statistics-container" class="table-container">
        <table id="general-statistics-file-table">
            <thead>
                <tr>
                    <th>filename</th>
                    <th>size (MB)</th>
                    <th>workers held</th>
                    <th>producers</th>
                    <th>consumers</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="report-toolbox">
        <button id="display-worker-disk-usage-by-percentage" class="report-button">Percentages</button>
        <input type="text" id="input-id" class="report-input-box" placeholder="Enter ID">
        <button class="report-button">Highlight Worker</button>
    </div>

    <div id="per-worker-disk-usage-container" class="container-alpha" >
        <svg id="per-worker-disk-usage" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

    <!--
    <h1 id="execution-summary-title" >Execution Summary</h1>
    <div id="histogramContainer" class="container-alpha" >
        <select id="histogramSelector">
            <option value="mode0">default</option>
            <option value="mode1">sort by average execution time</option>
            <option value="mode2">sort by tasks completion</option>
        </select>
        <svg id="histogram" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

    <h1 id="cpu-usage-distribution-title">CPU Usage Distribution</h1>
    <div id="avgCoreLoadContainer" class="violinCoreContainer" >
        <div id="avgCoreLoadLeftContainer" class="violinCoreLeftContainer">
            <div id="avgCoreLoadLeftSummaryContainer" class="violinCoreLeftSummaryContainer">
                <img id="overallAvgCoreLoadImg"  alt="Average Core Load"></img>
            </div>
        </div>
        <div id="avgCoreLoadRightContainer" class="violinCoreRightContainer">
            <div id="avgCoreLoadRightButton" class="violinCoreRightButton"></div>
            <div id="avgCoreLoadRightDetailsByWorkerContainer" class="violinCoreRightDetailsByWorkerContainer">
            </div>
        </div>
    </div>

    <h1 id="runtime-distribution-title" >Runtime Distribution</h1>
    <div id="violinContainer" class="violinCoreContainer" >
        <div id="violinLeftContainer" class="violinCoreLeftContainer">
            <div id="violinLeftSummaryContainer" class="violinCoreLeftSummaryContainer">
                <img id="allWorkersSummaryViolinImg"  alt="All Workers Summary"></img>
            </div>
        </div>
        <div id="violinRightContainer" class="violinCoreRightContainer">
            <div id="violinRightButton" class="violinCoreRightButton"></div>
            <div id="violinRightDetailsByWorkerContainer" class="violinCoreRightDetailsByWorkerContainer">
            </div>
        </div>
    </div>

    <h1 id="vine-graphs-title" >Vine Graphs</h1>
    <div id="vineGraphsContainer" >
        <div class="vineGraphContainer"><img id="performanceTransferImg" alt="Transfer"></div>
        <div class="vineGraphContainer"><img id="performanceTaskImg" alt="Tasks"></div>
        <div class="vineGraphContainer"><img id="performanceWorkersImg" alt="Workers"></div>
        <div class="vineGraphContainer"><img id="performanceTasksAccumImg" alt="Tasks Accumulate"></div>
        <div class="vineGraphContainer"><img id="performanceWorkersAccumImg" alt="Workers Accumulate"></div>
        <div class="vineGraphContainer"><img id="performanceTasksCapacitiesImg" alt="Tasks Capabilities"></div>
        <div class="vineGraphContainer"><img id="performanceTimeManagerImg" alt="Time Manager"></div>
        <div class="vineGraphContainer"><img id="performanceTimeWorkersImg" alt="Time Workers"></div>
        <div class="vineGraphContainer"><img id="performanceTimesStackedImg" alt="Time Stacked"></div>
        <div class="vineGraphContainer"><img id="performanceWorkersDiskImg" alt="Workers Disk"></div>
    </div>
-->
    </body>
</html>